
/*layout.css: Controls the flow and structure of pages throughout the site*/


/*navigation*/

nav {
    height: 100vh;
    position: fixed;
    width: 20%;
    background: #0e0e0b;
    color: white;
    font-family: 'Glegoo', serif;
}

.logo {
    max-width: 200px;
    margin: auto;
    display: block;
    padding-top: 5%;
}

.nav_list {
    padding-top: 15%;
    text-align: center;
}

.nav_list li, .nav_list a {
    padding: 6% 0%;
    color: white;
}

.icon_span {
   width: 50px;
   text-align: center;
   display: inline-block; 
}

.nav_icons {
    text-align: center;
    padding-top: 55%;
}

.nav_icons li {
    display: inline-block;
}

.nav_icons a {
    color: #68b1ac;
}

.nav_contact {
    font-size: 12px;
}

.nav_contact li, .nav_icons li {
    padding: 1% 0%;
}

.page {
    min-height: 100vh;
    width: 80%;
    margin-left: 20%;
    font-family: 'Glegoo', serif;
}

.container {
    width: 100%;
}

.content {
    width: 80%;
    margin: auto;
    padding: 5% 0%;
}

.one {
    width: 90%;
    margin: auto;
}

.two_even {
    width: 50%;
}

.two_small {
    width: 30%;
}

.two_big {
    width: 70%;
}

.three {
    width: 33%;
}

.four {
    width: 25%;
}

.five {
    width: 20%;
}

/*floats*/

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}



/*home*/

.home_background {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}



