
/*modules.css*/

/*Controls specific elements on differrent pages*/

/*navigation*/

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media screen and (min-width: 640px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

.logo {
    max-height: 75px;
    margin: 0px;
    display: inline-block;
    padding: 3%;
}

@media screen and (min-width: 640px) {
    .logo {
        max-height: 239px;
        margin: auto;
        display: block;
        padding-top: 5%;
    }
}

#mobile_open {
    display: inline-block;
    float: right;
    padding: 5%;
}

@media screen and (min-width: 640px) {
    #mobile_open {
        display: none;
    }
}

#mobile_close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav_mobile {
    background: rgba(13, 13, 13, 0.9);
    display: none;
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
}

.nav_desktop {
    display: none;
}

@media screen and (min-width: 640px) {
    .nav_mobile {
        display: none;
    }

    .nav_desktop {
        display: inline-block;
        position: relative;
        height: calc(100% - 239px);
        width: 100%;
    }
}

.nav_list {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

@media screen and (min-width: 640px) {
    .nav_list {
       position: absolute;
        top: 5%;
        font-size: 14px;
    }
}

.nav_contact {
    position: relative;
    color: #ccc;
    bottom: -30%;
    font-size: 12px;
    padding-left: 20%;
}

.nav_contact ul li {
    padding-left: 25%;
}

@media screen and (min-width: 640px) {
    .nav_contact {
        position: absolute;
        color: #ccc;
        padding-left: 0%;
        bottom: 4%;
        height: 100px;
    }
}

.nav_list li, .nav_list a {
    padding: 6% 0%;
    color: white;
}

.icon_span {
   width: 50px;
   text-align: center;
   display: inline-block; 
}

.nav_icons {
    text-align: center;
    position: relative;
    width: 100%;
    bottom: -30%;
}

@media screen and (min-width: 640px) {
    .nav_icons {
        position: absolute;
        font-size: 12px;
        bottom: calc(4% + 105px);
    }
}

.nav_icons li, .footer_icons li {
    display: inline-block;
}

.nav_icons a {
    color: #68b1ac;
}

.nav_contact li, .nav_icons li {
    padding: 1% 0%;
}

/*@media screen and (min-width: 640px) {
    .logo {
        max-width: 200px;
        margin: auto;
        display: block;
        padding-top: 5%;
    }

    #mobile_open {
        display: none;
        float: right;
        padding: 5%;
    }

    .nav_list {
        padding-top: 15%;
        text-align: center;
        font-size: 14px;
    }

  /*  .nav_list li, .nav_list a {
        padding: 6% 0%;
        color: white;
    }*/

    /*.icon_span {
       width: 50px;
       text-align: center;
       display: inline-block; 
    }

    .nav_icons {
        text-align: center;
        padding-top: 55%;
    }

    .nav_icons li, .footer_icons li {
        display: inline-block;
    }

    .nav_icons a {
        color: #68b1ac;
    }

    .nav_contact {
        font-size: 12px;
        padding-left: 0%;
    }

    .nav_contact li, .nav_icons li {
        padding: 1% 0%;
    }
}*/

/*home*/


.home_overlay {
    background: rgba(13, 13, 13, 0.7);
    height: 100%;
    text-align: center;
    color: white;
}

.home_overlay h1, .home_overlay h2 {
    font-family: 'Amatic SC';
    text-transform: uppercase;
}

.home_overlay h1 {
    padding-top: 12%;
    font-size: 4.5em;
}

.home_overlay h2 {
    font-size: 4em;
    font-weight: bolder;
}

.home_overlay p {
    width: 60%;
    margin: auto;
    padding-top: 2%;
    font-size: 12px;
    line-height: 18px;
}


.introduction {
    width: 80%;
    padding: 0% 10% 5% 10%;
}



.introduction h2, .introduction h3 {
    padding-left: 3%;
}
.introduction p {
    padding-left: 5%;
} 

.introduction p {
    padding-top: 5%;
    font-size: 14px;
    line-height: 18px;
}

.introduction p a {
    display: block;
    padding-top: 0%;
}

@media screen and (min-width: 640px) {
    .introduction p  {
        padding-top: 5%;
        font-size: 14px;
        line-height: 18px;
    }
}

.op_hours {
    width: 40%;
    margin-left: 5%; 
    margin-top: 3%;
    /*margin: 15% 0% 20% 15%;*/
}

.op_hours .grid_square i {
   margin: 0px -20px;
}


.op_hours .grid_square ul {
   margin-top: -5%;
   padding-left: 5%;
   padding-top: 3%;
}

.op_hours li {
    padding: 1% 0%;
}
/*
.op_hours .grid_square i {
   margin-top: 3%;
}

/*.op_hours {
    background: #d9d9d9;
    padding: 3% 5%;
    width: 100%;
    margin: 10% 0%;
}

@media screen and (min-width: 640px) {
    .op_hours {
        background: #d9d9d9;
        padding: 3% 5%;
        width: 80%;
        margin: 10% 0% -10% 15%;
    }
}

.op_hours h2 {
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: 5%;
    padding-top: 3%;
}

.op_hours p {
    margin-left: 5%;
    padding-bottom: 3%;
}

@media screen and (min-width: 640px) {
    .op_hours h2 {
        display: inline-block;
        font-family: 'Amatic SC';
        font-size: 1.5em;
        font-weight: bolder;
        margin-left: 15%;
        padding-top: 3%;
    }

    .op_hours p {
        margin-left: 15%;
        padding-bottom: 3%;
    }
}



.op_hours .cal_icon {
    margin: 5% 0%;
    padding-top: 10%;
    width: 20%;
    float: left;
}

.op_hours .cal_hours {
    margin-top: 3%;
    width: 45%;
    border-left: solid 3px #68b1ac;
    float: right;
}

@media screen and (min-width: 640px) {
    .op_hours .cal_icon {
        margin: 5% 0%;
        padding-top: 10%;
    }

    .op_hours .cal_hours {
        margin-top: 3%;
        width: 65%;
        border-left: solid 3px #68b1ac;
    }
}
*/
/*home form*/

.request_container {
    width: 80%;
    padding: 3% 10%;
}

.request_container p {
    font-size: 12px;
    line-height: 18px;
}

.home_contact {
    display: none;
}
/*
.request_container a {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 12px;
    margin: auto;
    margin-top: 5%;
    cursor: pointer;
}
*/
.home_services .fa-lg {
    padding: 0% 3%;
    color: #68b1ac;
}

.home_services li {
    padding: 1% 0%;
}
@media screen and (min-width: 640px) {
    .home_contact {
        display: inline-block;
        background: rgba(53, 103, 100, 0.8);
        width: 300px;
        color: white;
        padding: 1% 0%;
        z-index: 1;
        margin-top: -50px;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .home_contact h2 {
        font-family: 'Amatic SC';
        font-size: 2em;
        text-align: center;
        padding-bottom: 2%;
    }

    .home_contact p {
        width: 90%;
        margin: auto;
        font-size: 12px;
        text-align: center;
        padding: 2% 0%;
    }

    .home_contact form {
        width: 90%;
        margin: 0% 5%;
    }

    .home_contact  input[type=text] {
        width: 85%;
        padding: 12px;
        border: 1px solid #ccc; 
        border-radius: 4px;
        margin: 6px; 
    }

    .home_contact textarea {
        width: 85%;
        height: 100px;
        padding: 12px;
        border: 1px solid #ccc; 
        border-radius: 4px;
        margin: 6px; 
    }
}

.process_icons {
    width: 80%;
    margin: auto;
    padding: 5% 10%;
}

.process_icons p {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 15%;
}

@media screen and (min-width: 640px) {
    .process_icons p {
        width: 80%;
        margin: auto;
        padding-top: 5%;
        padding-bottom: 0%;
        font-size: 12px;
        line-height: 16px;
    }
}

.flaticon-broom {
    display: none;
}

@media screen and (min-width: 640px) {
    .flaticon-broom {
        display: block;
    }
}

.building_right, .building_left {
    padding: 5% 10%;
    width: 80%;
    margin-right: 0%; 
}

.building_left, .building_right {
    text-align: center;
}

.building_right h2, .building_left h2 {
    display: block;
    font-family: 'Amatic SC';
    font-size: 2em;
    font-weight: bolder;
    border-bottom: solid 3px #68b1ac;
    margin-bottom: 10px;
}

.building_right i, .building_left i {
    width: 100px;
    display: inline-block; 
    margin-right: 20px;
    padding: 5% 0%;
}

.buildings .image {
    display: none;
}

.buildings article {
    height: 100%;
    overflow: initial;
}

@media screen and (min-width: 640px) {
    .building_right, .building_left {
        padding: 5% 0%;
        width: 70%;
        margin-right: 15%; 
    }

    .building_left {
        text-align: right;
    }

    .building_right {
        text-align: left;
    }

    .building_right h2, .building_left h2 {
        display: inline-block;
        font-family: 'Amatic SC';
        font-size: 2em;
        font-weight: bolder;
        border-bottom: solid 3px #68b1ac;
        margin-bottom: 10px;
    }

    .building_right i, .building_left i {
        width: 100px;
        display: inline-block; 
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .buildings .image {
        display: inline-block;
        border-top: solid 5px #1d1d1d;
        border-bottom: solid 5px #1d1d1d;
    }

    .buildings article {
        height: 300px;
        overflow: hidden;
    }
}


.quality {
    width: 60%;
    padding: 3% 20%;
}

/*.quality a {
    display: inline-block;
    padding-top: 5%;
}

.quality .fa-lg {
    padding: 2%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid #68b1ac 3px;
    margin: 3%;
}*/

/*.quality i {
    display: block;
    float: left;
}*/
/*.quality {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    padding: 3% 0%;
    border: solid 5px #1d1d1d;
}

.quality h2 {
    text-align: left;
    width: 30%;
    color: #b3b3b3;
}

.quality section:first-child {
    width: 20%;
    float: left;
    padding-left: 10%;
}

@media screen and (min-width: 640px) {
    .quality {
        width: 55%;
        margin: auto;
        padding: 3%;
        border: solid 5px #1d1d1d;
    }

    .quality h2 {
        text-align: center;
        width: 20%;
    }

    .quality section:first-child {
        width: 20%;
        float: left;
        padding-left: 6%;
        padding-top: 2%;
    }
}*/

.numbers_container {
    width: 90%;
    padding: 3% 5%;
}

.numbers h4 {
    display: inline-block;
    border: solid #68b1ac 2px;
    padding: 6px 20px;
    border-radius: 50%;
    margin: 20px 10px;
}

.numbers h5 {
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 2em;
    font-weight: bolder;
    padding-top: 4%;
}

.numbers section {
    width: 90%;
    padding-left: 10%;
    /*background: #d9d9d9;*/
}

/*.numbers a {
    margin: 10% auto;
}

.numbers_description section {
    width: 90%;
    padding-left: 0%;
}

@media screen and (min-width: 640px) {
    .numbers section {
        padding: 5% 0% 5% 15%;
        margin-right: -100px;
    }

    .numbers a {
        margin: 0%;
    }

    .numbers_description section {
        width: 60%;
        padding-left: 10%;
    }
}
*/
.send_message form {
    padding: 10% 5%;
    background: #356764;
    border-radius: 12px;
}

.send_message h2, .send_message h3, .send_message p {
    padding-left: 0%;
}

@media screen and (min-width: 640px) {
    .send_message form {
        padding: 5% 1% 5% 5%;
        margin-right: 15%;
        background: #356764;
        border-radius: 12px;
    }

    .send_message h2, .send_message h3, .send_message p {
        padding-left: 20%;
    }
}

.send_message input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

.send_message textarea {
    width: 85%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}


/*services*/

.services_container {
    padding-bottom: 10%;
}

.services_content {
    width: 80%;
    margin: auto;
    height: 60vh;
}

.services_content article {
    border-right: solid 5px #68b1ac;
    padding: 3% 2%;
    width: 27%;
    height: 200px;
    margin: 0px 3px;
}

.services_content h2 {
    color: #999999;
}

.services_content p {
    padding: 2% 5% 2% 0%;
    font-size: 12px;
}

.services_content ul {
    padding-top: 5%;
}

.services_content li {
    padding: 1% 0%;
    font-size: 12px;
}

.services {
   border-left: solid 5px #68b1ac;
   margin-top: 5%; 
   width: 100%;
   display: inline-block;
}
/*contact*/

.contact_container {
    padding-top: 10%;
}

.con_tent {
    width: 80%;
    margin: auto;
    height: 60vh;
}

.con_tent ul {
    font-size: 12px;
}

.con_tent .fa-2x {
    padding-top: 10%;
    padding-bottom: 3%;
    color: #999999;
}

.con_tent h4 {
    padding-top: 3%;
}

.con_tent form {
    width: 90%;
    float: right;
}

/*.submit_span {
    margin-right: 10%;
    display: inline-block;
}

.submit_span .fa-lg {
    padding-bottom: 4%;
    color: #68b1ac;
}*/


/*contact container*/

/*.tabcontent form {
    margin-left: 10%;
}*/

/*#contact_container input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}*/

.contact_container textarea {
    width: 85%;
    height: 60px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}


.half_input input[type=text] {
    width: 39%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px 3px 6px 6px; 
}

.full_input input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}


select {
    width: 44%;
    height: 40px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

/*discounts*/

.discounts_container {
    padding-bottom: 10%;
}

.discounts_content {
    width: 80%;
    margin: auto;
    height: 60vh;
}

.discounts_content article {
    /*border-top: solid 5px #1d1d1d;*/
/*    padding-bottom: 10%;
    margin-left: 10%;
    width: 80%;
    padding-top: 3%;
    color: white;*/
}

/*.discounts_content h2 {
    color: #999999;
}*/

/*.discounts_content p {
    padding: 2% 5% 2% 0%;
}*/

.discounts_content li {
    padding: 1% 0%;
}

.military {
    width: 90%;
    margin: 10% 0%;
}

.military article {
    height: 150px;
}

.grid_big p, .referral article p, .referral section p {
    font-size: 12px;
}

.grid_big h5 {
    padding: 4% 0%;
}

.referral {
    width: 90%;
    margin: auto;
    padding: 10% 5%;
}

.referral h2 {
    color: #666666;
}

.referral h3, .referral section h2 {
    padding-bottom: 4%;
}

.referral section p {
    padding-top: 4%;
}

.referral section {
    border-top: solid 3px #68b1ac;
    height: 100px;
    padding-top: 5%;
}

/*about*/


.about_content {
    width: 100%;
}

.about_background {
    min-height: 450px;
    width: 100%;
    background-image: url("/static/pumpkin.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

.about_description {
    width: 40%;
    padding: 5%;
    height: 250px;
    margin-top: 50px;
    margin-right: 5%;
}

.timeline {
    width: 100%;
}

.timeline section {
    width: 80%;
    margin: auto;
    height: 100px;
    color: black;
    padding-top: 5%;
}

.timeline section article {
    text-align: center;
}

/*footer*/


footer p {
    width: 100%;
    font-family: 'Glegoo', serif;
    font-size: 12px;
    padding-bottom: 5%;
}

footer h3 {
    font-family: 'Amatic SC';
    font-size: 24px;
}

.created_by {
    padding: 3% 0%;
    text-align: center;
    border-top: solid 3px #333333;
    margin-top: 10px;
    font-family: 'Glegoo', serif;
    font-size: 12px;
}

.created_by a {
    color: #68b1ac;
}

.foot_contact {
    font-size: 13px;
}

.foot_contact li {
    padding: 1% 0%;
}

@media screen and (min-width: 640px) {
    footer p {
        width: 80%;
        font-family: 'Glegoo', serif;
        font-size: 12px;
    }

    footer h3 {
        font-family: 'Amatic SC';
        font-size: 24px;
    }

    .created_by {
        padding: 3% 0%;
        text-align: center;
        border-top: solid 3px #333333;
        margin-top: 10px;
        font-family: 'Glegoo', serif;
        font-size: 12px;
    }

    .created_by a {
        color: #68b1ac;
    }
}

.web_image {
    max-width: 600px;
}