
/*modules.css*/

/*Controls specific elements on differrent pages*/

/*navigation*/


.logo {
    max-width: 200px;
    margin: auto;
    display: block;
    padding-top: 5%;
}

.nav_list {
    padding-top: 15%;
    text-align: center;
}

.nav_list li, .nav_list a {
    padding: 6% 0%;
    color: white;
}

.icon_span {
   width: 50px;
   text-align: center;
   display: inline-block; 
}

.nav_icons {
    text-align: center;
    padding-top: 55%;
}

.nav_icons li, .footer_icons li {
    display: inline-block;
}

.nav_icons a {
    color: #68b1ac;
}

.nav_contact {
    font-size: 12px;
}

.nav_contact li, .nav_icons li {
    padding: 1% 0%;
}


/*home*/


.home_overlay {
    background: rgba(13, 13, 13, 0.7);
    height: 100%;
    text-align: center;
    color: white;
}

.home_overlay h1, .home_overlay h2 {
    font-family: 'Amatic SC';
    text-transform: uppercase;
}

.home_overlay h1 {
    padding-top: 12%;
    font-size: 4.5em;
}

.home_overlay h2 {
    font-size: 4em;
    font-weight: bolder;
}

.home_overlay p {
    width: 60%;
    margin: auto;
    padding-top: 2%;
    font-size: 12px;
    line-height: 18px;
}

.home_p {
    padding: 5% 0% 0% 5%;
    margin-right: -100px;
    font-size: 14px;
    line-height: 18px;
}

/*home form*/

.home_contact {
    background: rgba(53, 103, 100, 0.8);
    width: 300px;
    color: white;
    padding: 1% 0%;
    z-index: 1;
    margin-top: -50px;
    margin-right: 10%;
    margin-bottom: 5%;
}

.home_contact h2 {
    font-family: 'Amatic SC';
    font-size: 2em;
    text-align: center;
    padding-bottom: 2%;
}

.home_contact p {
    width: 90%;
    margin: auto;
    font-size: 12px;
    text-align: center;
    padding: 2% 0%;
}

.home_contact form {
    width: 90%;
    margin: 0% 5%;
}

.home_contact  input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

.home_contact textarea {
    width: 85%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

/*.icon_teal .fa-4x {
    color: #9999a2;
    padding-bottom: 4%;
}*/

/*.icon_teal a {
    color: #68b1ac;
    text-decoration: none;
    padding-top: 5%;
}*/

.process_icons {
    width: 80%;
    margin: auto;
    padding: 5% 10%;
}

.process_icons p {
    width: 80%;
    margin: auto;
    padding-top: 5%;
}

.building_right, .building_left {
    padding: 5% 0%;
    width: 70%;
    margin-right: 15%; 
}

.building_left {
    text-align: right;
}

.building_right {
    text-align: left;
}

.building_right h2, .building_left h2 {
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 2em;
    font-weight: bolder;
    border-bottom: solid 3px #68b1ac;
    margin-bottom: 10px;
}

.building_right i, .building_left i {
    width: 100px;
    display: inline-block; 
    margin-right: 20px;
}

.buildings .image {
    border-top: solid 5px #1d1d1d;
    border-bottom: solid 5px #1d1d1d;
}

.buildings article {
    height: 300px;
    overflow: hidden;
}

.numbers h4 {
    display: inline-block;
    border: solid #68b1ac 2px;
    padding: 6px 20px;
    border-radius: 50%;
    margin: 20px 10px;
}

.numbers h5 {
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 2em;
    font-weight: bolder;
    padding-top: 4%;
}

.numbers section {
    padding: 5% 0% 5% 15%;
    margin-right: -100px;
}

.numbers_description section {
    width: 60%;
    padding-left: 10%;
}

.send_message form {
    padding: 5% 1% 5% 5%;
    margin-right: 15%;
    background: #356764;
    border-radius: 12px;
}

.send_message h2, .send_message h3, .send_message p {
    padding-left: 20%;
}

.send_message input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

.send_message textarea {
    width: 85%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}


/*services*/

.services_container {
    padding-top: 10%;
}

.services_content {
    width: 80%;
    margin: auto;
    height: 60vh;
}

.services_content article {
    border-top: solid 5px #68b1ac;
    padding-bottom: 10%;
}

.services_content article h3 {
    font-size: 1.7em;
    padding-top: 2%;
}

.services_content input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

.services_content textarea {
    width: 85%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

/*contact*/

.contact_container {
    padding-top: 10%;
}

.con_tent {
    width: 80%;
    margin: auto;
    height: 60vh;
}

.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    font-family: 'Amatic SC';
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent h2, .tabcontent h3 {
    padding-left: 10%;
}

.tabcontent h4 {
    border-bottom: solid 5px #68b1ac;
    width: 95%;
    padding: 1% 0%;
    margin-bottom: 2%;
    font-size: 14px;
}

.tabcontent li .fa-2x {
    padding-top: 3%;
    color: #68b1ac;
}

.tabcontent h2 {
    padding-top: 5%;
}

.tabcontent input[type=submit] {
    color: #ccc;
    text-transform: uppercase;
    font-family: 'Amatic SC';
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 26px;
    padding: 12px;
    margin: 6px; 
}

.submit_span {
    margin-right: 10%;
    display: inline-block;
}

.submit_span .fa-lg {
    padding-bottom: 4%;
    color: #68b1ac;
}


/*contact container*/

.tabcontent form {
    margin-left: 10%;
}

#contact_container input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

#contact_container textarea {
    width: 85%;
    height: 130px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

/*quote container*/

.half_input input[type=text] {
    width: 39%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px 3px 6px 6px; 
}

.full_input input[type=text] {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

#quote_container textarea {
    width: 85%;
    height: 45px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

select {
    width: 44%;
    height: 40px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 6px; 
}

.instagram {
    overflow: hidden;
    height: 300px;
}

.instagram_photo {
    margin-top: -54px;
}

.quality {
    width: 45%;
    margin: auto;
    padding: 3% 0%;
    border: solid 5px #1d1d1d;
}

/*footer*/


footer p {
    width: 80%;
    font-family: 'Glegoo', serif;
    font-size: 12px;
}

footer h3 {
    font-family: 'Amatic SC';
    font-size: 24px;
}

.created_by {
    padding: 3% 0%;
    text-align: center;
    border-top: solid 3px #333333;
    margin-top: 10px;
    font-family: 'Glegoo', serif;
    font-size: 12px;
}

.created_by a {
    color: #68b1ac;
}
