{% extends 'base.html' %}


{% block content %}
<section class="page teal about_container">

    <article class="about_content">
        <section class=" clearfix about_background">
            <img src="/static/pumpkin.jpg" class="about_image">
            <article class="about_description right gray">
                <section class="text_center">
                    <h1>About Rey</h1>
                </section>
                <h2 class="sub_heading text_light_gray">Owner and Operator</h2>
                <h3 class="heading">Rey Howard</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel dui egestas, feugiat lectus sed, gravida est. Curabitur ut consectetur elit, sed feugiat libero. Praesent metus lorem, mattis ac urna at, fermentum consequat ante. </p> 
            </article>
        </section>   
    </article>
    <article class="timeline clearfix white">
        <section>
            <h2 class="sub_heading text_teal">The Story of Rey's Window Washing</h2>
            <h3 class="heading">From Dream to Reality</h3>
        </section>
        <!-- <section class="clearfix">
            <span class="border">
            <article class="four left">
                one
            </article>
            <article class="four left">
                two
            </article>
            <article class="four left">
                three
            </article>
            <article class="four left">
                four
            </article>
        </span>
            <article class="four left">
                one
            </article>
            <article class="four left">
                two
            </article>
            <article class="four left">
                three
            </article>
            <article class="four left">
                four
            </article>
        </section> -->
    </article>


</section>
{% endblock %}