{% extends 'base.html' %}


{% block content %}
<section class="page teal about_container">

    <article class="about_content clearfix">
        <section class="one left about_background">
            <article class="about_description right gray">
                <h2 class="sub_heading text_light_gray">Owner and Operator</h2>
                <h3 class="heading">About Rey</h3>
                
            </article>
        </section>
        
    </article>
    <article class="timeline clearfix white">
        <section>
            <h2 class="sub_heading text_teal">The Story of Rey's Window Washing</h2>
            <h3 class="heading">From Dream to Reality</h3>
        </section>
        <section class="clearfix">
            <span class="border">
            <article class="four left">
                one
            </article>
            <article class="four left">
                two
            </article>
            <article class="four left">
                three
            </article>
            <article class="four left">
                four
            </article>
        </span>
            <article class="four left">
                one
            </article>
            <article class="four left">
                two
            </article>
            <article class="four left">
                three
            </article>
            <article class="four left">
                four
            </article>
        </section>
    </article>


</section>
{% endblock %}