
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rey's Window Washing</title>


  <link href="{{url_for('static', filename='reset.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='base.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='layout.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='modules.css')}}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='flaticon.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>
  <nav>
    <img src="/static/logo.png" class="logo">
    <i class="fas fa-bars fa-4x" id="mobile_menu"></i>
    <span class="nav_mobile">
    <ul class="nav_list">
      <li><a href="{{ url_for('home') }}" id="home">HOME</a></li>
      <li><a href="{{ url_for('about') }}" id="about">ABOUT REY</a></li>
      <li><a href="{{ url_for('services') }}" id="services">SERVICES</a></li>
      <li><a href="{{ url_for('discounts') }}" id="discounts">DISCOUNTS</a></li>
      <li><a href="{{ url_for('contact') }}" id="contact">REQUEST A QUOTE</a></li>
    </ul>
    <ul class="nav_icons">
      <li>
        <a href="https://www.facebook.com/ReysWindowWashing/" class="icon_span">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/reyswindowwashing/" class="icon_span">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="mailto:reyswindowwashing@gmail.com" class="icon_span">
          <i class="far fa-envelope-open fa-2x"></i>
        </a>
      </li>   
    </ul>
    <ul class="nav_contact">
      <li>
        <span class="icon_span"><i class="fas fa-mobile-alt"></i></span>
        916.540.8373
      </li>  
      <li>
        <span class="icon_span"><i class="far fa-envelope"></i></span>
        reyswindowwashing@gmail.com
      </li>
      <li>
        <span class="icon_span"><i class="far fa-clock"></i></span>
        5:00PM - 9:00PM
      </li>
    </ul>
 </span>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <section class="container clearfix">
      <article class="two_big left">
        <h3>Rey's Window Washing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur. Proin eu arcu sollicitudin,</p>
      </article>
      <article class="two_small right"> 
        <ul class="nav_contact">
          <li>
            <span class="icon_span"><i class="fas fa-mobile-alt"></i></span>
        916.540.8373
          </li>  
          <li>
            <span class="icon_span"><i class="far fa-envelope"></i></span>
            reyswindowwashing@gmail.com
          </li>
            <li>
            <span class="icon_span"><i class="fab fa-facebook-square"></i></span>
            facebook.com/ReysWindowWashing/
          </li>  
          <li>
            <span class="icon_span"><i class="fab fa-instagram"></i></span>
            @ReysWindowWashing
          </li>
          <li>
            <span class="icon_span"><i class="far fa-clock"></i></span>
            5:00PM - 9:00PM
          </li>
        </ul>
      </article>
    </section>
    <section class="container clearfix">
      <article class="created_by">
        <h4>Website created by <a href="adriennekarnoski.com">Adrienne Karnoski</a></h4>
      </article>
    </section>
  </footer>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

<script src="{{url_for('static', filename='app.js')}}"></script>

</body>
</html>