{% extends 'base.html' %}


{% block content %}
<section class="page gray contact_container">

    <article class="con_tent clearfix">

        
            <section class="two_small left">
                    <h2 class="sub_heading text_teal">Ready to get started?</h2>
                    <h3 class="heading">Request a Quote</h3>
                    <p>fdjkfdjk dfjkfdjk dfjkgfdjkdfs sdkjgfsdjk</p>
                    <ul>
                      <li class="text_center"><i class="fas fa-mobile-alt fa-2x"></i></li>
                      <li class="text_center">916.540.8373</li>
                      <li class="text_center"><i class="far fa-envelope fa-2x"></i></li>
                      <li class="text_center">reyswindowwashing@gmail.com</li>
                      <li class="text_center"><i class="fab fa-facebook-square fa-2x"></i></li>
                      <li class="text_center">facebook.com/ReysWindowWashing</li>
                      <li class="text_center"><i class="fab fa-instagram fa-2x"></i></li>
                      <li class="text_center">@reyswindowwashing</li>
                    </ul>
                </section>
                <section class="two_big right">

                      <form method="POST" action="">
                      {{ contact_form.csrf_token }}
                      {{ quote_form.csrf_token }}
                      <h4>Personal Information</h4>
                    <span class="full_input">
                      {{ contact_form.name(placeholder="Full Name")}}
                      {{ contact_form.contact(placeholder="Phone Number or Email Address") }}

                    <h4>Company Information</h4>
                      {{ quote_form.company(placeholder="Company Name") }}
                      {{ quote_form.location(placeholder="City") }}
                  </span>
                  <span class="half_input">
                      {{ quote_form.floors(placeholder="Number of Floors") }}
                      {{ quote_form.building }}
                  </span>
                      {{ contact_form.message(placeholder="Additonal information or message (optional)...", class="message_input") }}
                  
                <input type="submit" value="Send" class="button teal">
                  
                </form>
            </section>
           
            
    
    </article>


</section>
{% endblock %}