{% extends 'base.html' %}


{% block content %}
<section class="page">
    <section class="home_background">
        <article class="home_overlay">
            <h1>Superior service. Quality relationships.</h1>
            <a href="{{ url_for('quote') }}" class="home_button teal">Request a Quote</a>
            <p>Or request a free consultation</p>
            <h2>916.540.8373</h2>
        </article>
    </section>
    
    <section class="container white introduction clearfix">
        <article class="one left text_center">
            <h1 class="big_heading">Who We Are</h1>
        </article>
        <article class="one left">
            <h2 class="sub_heading text_teal">Rey's Window Washing</h2>
            <h3 class="heading">Superior service. <span class="desktop_show"> Quality relationships.</span></h3>
            <h3 class="heading"><span class="mobile_show">Quality relationships.</span></h3>
        </article>
        <article class="two_even left">
            <p>It's not only our moto, but our promise too.</p>
            <p>At Rey's Window Washing, not only will we provide you with a service that you won't be disappointed with, we strive to create the best possible relationship with out clients. From our smallest client to our largest, everyone is treated as our most valued customer.</p>
            <p>Owned and operated by Rey Howard! <a href="{{ url_for('about') }}" class="text_teal">Read more about Rey <i class="fas fa-angle-right"></i></a></p>
        </article>
        <article class="two_even right op_hours">
            <article class="grid_square clearfix">
                <h2 class="light_gray">Hours of Operation</h2>
                <section class="grid_small left text_center">
                    <i class="flaticon-calendar icon"></i>
                </section>
                <section class="grid_big right">
                    <ul>
                        <li>Monday - Friday</li>
                        <li class="text_teal">8:00AM - 5:00PM</li>
                        <li>Saturday - Sunday</li>
                        <li class="text_teal">7:00AM - 5:00PM</li>
                    </ul>
                </section>
            </article> 
        </article> 
    </section>

    <section class="request_container gray clearfix">
        <article class="two_even left">
            <h2 class="semi_heading text_teal">Ready to get started?</h2>
            <p>Requesting a quote is fast and easy. Simply fill out our request form, and recieve a price personalized for your needs.</p></article>
        <article class="two_even right">
            <a href="{{ url_for('quote') }}" class="button teal">Request a quote</a>  
        </article>
    </section>

    <section class="white clearfix home_services">
        <article class="one left text_center">
            <h1 class="big_heading">What we do</h1>
        </article>
        <article class="two_even left text_center_mobile">
            <h2 class="sub_heading text_teal">Designed to meet your needs</h2>
            <h3 class="heading">Rey's Window Washing Services</h3>
            <p>Whether you are moving in, moving out, or simply in the need of some Spring cleaning, Rey's Window Washing offers a variety of services to help maintain the appearance and upkeep of your home or business.</p>
            <a href="{{ url_for('services') }}" class="text_med_gray">View all services <i class="fas fa-angle-right"></i></a>
        </article>
        <article class="two_even right light_gray">
            <ul class="light_gray">
                <li><i class="far fa-check-circle fa-lg"></i>Window tracks and sills</li>
                <li><i class="far fa-check-circle fa-lg"></i>Ledges and screens</li>
                <li><i class="far fa-check-circle fa-lg"></i>Business/Storefront signs</li>
                <li><i class="far fa-check-circle fa-lg"></i>and more...</li>
            </ul>
        </article> 
    </section>

    <section class="container white clearfix process_icons">
        <article class="one left text_center">
            <h2 class="semi_heading text_teal">Our cleaning process</h2>
        </article>
        <article class="three left text_center">
            <i class="flaticon-bubble icon"></i>
            <p>We start with a solution specially designed to be more effective at washing away dirt, grime, and other buildup.</p>
        </article>
        <article class="three left text_center">
            <i class="flaticon-cleaning icon"></i>
            <p>Taking special care on each window, every square inch will be thourougly scrubbed, including those hard to reach edges.</p>
        </article>
        <article class="three left text_center">
            <i class="flaticon-glass icon"></i>
            <p>Windows are squeegeed clean to avoid any streaks or smears, leaving them sparkling and looking brand new.</p>
        </article>
    </section>

    <section class="container teal clearfix padding">
        <article class="two_big left clearfix">
            <section class="two_small left"> 
                <span class="right"><i class="flaticon-broom icon"></i></span>
            </section>
            <article class="small_padding">
            <section class="two_big right text_center_mobile">   
                <h3 class="semi_heading">Affordable, efficient, year round</h3>   
                <p>From gutter cleaning to interior dusting, Rey's Window Washing has a variety of services to meet your needs.</p> 
            </section>
        </article>
        </article>
        <article class="two_small left">
            <a href="{{ url_for('services') }}" class="button gray">View All Services</a>
        </article>
    </section>

    <section class="container gray clearfix buildings">
        <article class="two_small left image">
            <img src="/static/window.jpg">
        </article>
        <article class="two_big right">
            <section class="right building_left">
                <h2>Residential</h2>
                <span class="right"><i class="flaticon-house-1 icon"></i></span>
                <p class="text_small">Save time and money while prolonging the life of your windows, keeping them clean and properly maintained.</p>
            </section>
            <section class="right building_right">
                <h2>Commercial</h2>
                <span class="left"><i class="flaticon-holidays icon"></i></span>
                <p class="text_small">We'll remove accumulated dirt and minerals, helping maintain a quality first impression for you and your business.</p>
            </section>
        </article>
    </section>

    <section class="numbers_container white clearfix">
        <article class="one left text_center">
            <h1 class="big_heading">Getting Started</h1>
        </article>
        <article class="two_small left numbers_description">
            <section class="content">
                <h2 class="sub_heading text_teal">Easy as one, two, three</h2>
                <h3 class="heading">Start today!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur.</p>
                <a href="{{ url_for('quote') }}" class="button gray desktop">Get Your Quote!</a>
            </section>
        </article>
        <article class="two_big right numbers">
            <section class="clearfix">
                <article>
                    <h4 class="heading left">1</h4>
                    <h5>Explore Services</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
                </article>
                <article>
                    <h4 class="heading left">2</h4>
                    <h5>Check out Discounts</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </article>
                <article>
                    <h4 class="heading left">3</h4>
                    <h5>Get a Quote</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="{{ url_for('quote') }}" class="button gray mobile">Get Your Quote!</a>
                </article>
            </section>
        </article>
    </section>

    <section class="small_container light_gray clearfix quality">
        <article class="two_small left quality_icon">
            <i class="flaticon-testimonial icon"></i>
        </article>
        <article class="two_big right text_center_mobile">
                <h3 class="semi_heading">What people are saying</h3> 
                <p class="text_small">Customer satisfaction is a top priority at Rey's Window Washing and we strive to deliver valuable services and upstanding experiences. Read our customer reviews or leave one of your own!</p>
                <a href="https://www.yelp.com/biz/reys-window-washing-sacramento?uid=XVlx30jfdXWnVayECNR9vw&utm_source=ishare" class="link text_teal"> Read Reviews <i class="fas fa-angle-right"></i></a>
        </article>
    </section>

    <section class="teal clearfix home_message">
        <article class="two_even left">
            <h2 class="sub_heading text_gray">Get in contact</h2>
            <h3 class="heading">Have a question or want more information?</h3>
            <ul>
                <li><i class="fas fa-mobile-alt fa-lg"></i> 916.540.8373</li>
                <li><i class="far fa-envelope fa-lg"></i> reyswindowwashing@gmail.com</li>
                <li><i class="far fa-clock fa-lg"></i>Hours of Operation
                <ul>
                    <li>Monday - Friday 8:00AM - 5:00PM</li>
                    <li>Saturday - Sunday 7:00AM - 5:00PM</li>
                </ul>
                </li>          
            </ul>
        </article>
        <article class="two_even right">
            <form method="POST" action="">
                {{ form.csrf_token }}
                {{ form.name(placeholder="Full Name")}}
                {{ form.contact(placeholder="Phone Number or Email Address") }}
                {{ form.message(placeholder="Your message...", class="message_input") }}
                <input type="submit" value="Send" class="button gray">  
            </form>
        </article>
    </section>

</section>
{% endblock %}