{% extends 'base.html' %}


{% block content %}
<section class="page">
    <section class="home_background">
        <article class="home_overlay">
            <h1>superior service. quality relationships.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur. Proin eu arcu sollicitudin, pellentesque ligula sed, cursus felis. Duis eleifend eros eu dui mattis tincidunt.</p>
            <a href="{{ url_for('services') }}" class="button teal">View Services</a>
        </article>
    </section>
    
    <section class="container white clearfix">
        <article class="two_even left">
            <section class="content">
                <h2 class="sub_heading">This is a sub heading</h2>
                <h3 class="heading">Introduction to the business</h3>
                <p class="home_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur. Proin eu arcu sollicitudin, pellentesque ligula sed, cursus felis. Duis eleifend eros eu dui mattis tincidunt.</p>
                <p class="home_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur.</p>
                <p class="home_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur. Proin eu arcu sollicitudin, pellentesque ligula sed, cursus felis. Duis eleifend eros eu dui mattis tincidunt.</p>
            </section>
        </article>
        <article class="two_even right home_contact">
            <section>
                <h2>GET IN CONTACT</h2>
                <p class="text_center">Have a question or would like to know more? Send us a message! If you're ready to get started, <a href="{{ url_for('contact') }}">request a personalized quote! <i class="fas fa-angle-right"></i></a></p>
                <form>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Phone Number or Email Address">
                    <textarea placeholder="Your message..."></textarea>
                </form>
                <a href="#" class="button gray">Send</a>
            </section>
        </article>
    </section>

    <section class="container white clearfix process_icons">
        <article class="three left text_center">
            <i class="flaticon-bubble"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
        <article class="three left text_center">
            <i class="flaticon-cleaning"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
        <article class="three left text_center">
            <i class="flaticon-glass"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </section>

    <section class="container gray clearfix getting_started">
       
            <img src="/static/window.jpg" class="three left">
     
        <article class="three left">
            <h2 class="sub_heading">This is a sub heading</h2>
            <h3 class="heading">Why choose Rey's?</h3>
        </article>
        <article class="three left">

                <i class="far fa-check-circle fa-4x"></i>
        </article>
            <!-- <section class="four left text_center">
                <h4 class="sub_heading"><i class="flaticon-holidays"></i></h4>
            </section>
            <section class="four left text_center">
                <i class="far fa-handshake fa-4x"></i>
                <h4 class="sub_heading">Relationships</h4>
            </section>
            <section class="four left text_center">
                <i class="fas fa-tasks fa-4x"></i>
                <h4 class="sub_heading">All your needs</h4>
            </section>
            <section class="four left text_center">
                <i class="far fa-calendar-alt fa-4x"></i>
                <h4 class="sub_heading">Weekends</h4>
            </section>
            <a href="#" class="right link text_teal">Read Reviews <i class="fas fa-angle-right"></i></a>
        </article>      -->
    </section>

    <!-- <section class="container white clearfix getting_started"> 
        <section class="three left">
            <img src="/static/window.jpg">
        </section>
        <section class="three left">
            
                <h2 class="sub_heading text_teal">This is a sub heading</h2>
                <h3 class="heading">Get started</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur.</p>
                <ul class="nav_contact">
                  <li>
                    <span class="icon_span"><i class="fas fa-mobile-alt fa-2x"></i></span>
                    916.540.8373
                  </li>
                  <li>
                    <span class="icon_span"><i class="far fa-envelope fa-2x"></i></span>
                    reyswindowwashing@gmail.com
                  </li> 
                  <li>
                    <span class="icon_span"><i class="fab fa-facebook-square fa-2x"></i></span>
                    facebook.com/ReysWindowWashing
                  </li> 
                  <li>
                    <span class="icon_span"><i class="far fa-clock fa-2x"></i></span>
                    5:00PM - 9:00PM
                  </li>
                </ul>
                <a href="{{ url_for('contact') }}" class="button gray">Get A Quote</a>
            
        </section> -->
        <section class="three left">
            <article class="one left">
                <h2 class="sub_heading text_teal">This is a sub heading</h2>
                <h3 class="heading">Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur.</p>
                <a href="{{ url_for('services') }}" class="link text_gray">View All Services</a>
            </article>
            <article class="one left">
                <h2 class="sub_heading text_teal">This is a sub heading</h2>
                <h3 class="heading">Discounts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum purus nibh, ac varius lorem iaculis consectetur.</p>
                <a href="{{ url_for('discounts') }}" class="link text_gray">View All Discounts</a>
            </article>
        </section>
    </section>
            
     

</section>
{% endblock %}