{% extends 'base.html' %}


{% block content %}
<section class="page gray quote_container">
  <article class="quote_content clearfix">
    <section class="text_center">
      <h1 class="big_heading">Get a personalized quote</h1>
    </section>
    <section class="one right">
      <form method="POST" action="">
        {{ form.csrf_token }}
        <h4 class="sub_heading">Personal Information</h4>
        <span class="full_input">
        {{ form.name(placeholder="Full Name")}}
        {{ form.contact(placeholder="Phone Number or Email Address") }}
        <h4 class="sub_heading">Company Information</h4>
        {{ form.company(placeholder="Company Name") }}
        {{ form.location(placeholder="City") }}
        </span>
        <span class="half_input">
        {{ form.floors(placeholder="Number of Floors") }}
        {{ form.building }}
        </span>
        {{ form.message(placeholder="Additonal information or message (optional)...", class="message_input") }}
        <article class="quote_submit">
        <input type="submit" value="Send" class="button teal">
    </article>
      </form>
    </section>
  </article>
</section>
{% endblock %}