{% extends 'base.html' %}


{% block content %}
<section class="page gray services_container">

    <article class="services_content clearfix">
        <section class="two_small left">
            <h2 class="sub_heading">Designed to meet your needs</h2>
            <h3 class="heading">Rey's Window Washing Services</h3>
        </section>
      <section class="two_big right">
            <article class="one left clearfix">
                <section class="two_small left">
                    <i class="flaticon-window"></i>
                </section>
                <section class="two_big right">
                    <h2 class="tiny_heading">Streak free shine, every time</h2>
                <h4 class="semi_heading">Window Washing Services</h4>
                <p>The cleaning of your windows includes all tracks and sills. Additional services include the cleaning of:</p>
                <ul>
                    <li>Window Interiors</li>
                    <li>Ledges</li>
                    <li>Screens</li>
                    <li>Frames</li>
                </ul>
            </section>
            </article>
            <article class="one left clearfix">
                <section class="two_small left">
                    <i class="flaticon-window"></i>
                </section>
                <section class="two_big right">
                <h2 class="tiny_heading">Keep your home or business shining inside and out</h2>
                <h4 class="heading">Interior and Exterior Services</h4>
     
                <ul>
                    <li>Gutters</li>
                    <li>Glass Doors</li>
                    <li>Mirrors</li>
                    <li>Dusting</li>
                    <li>Cieling fans</li>

               </ul>
           </section>
            </article>
            <article class="one left clearfix">
                <section class="two_small left">
                    <i class="flaticon-window"></i>
                </section>
                <section class="two_big right">
                <h2 class="tiny_heading">It's all in the details</h2>
                <h4 class="heading">Detail and extra Services</h4>
     
                <ul>
                    <li>Business/Storefront signs</li>
                    <li>Hard water</li>
                    <li>Recurring Maintenance</li>
                    <li>Paint Removal</li>
                    

               </ul>
           </section>
            </article>
            <article class="one left clearfix">
                <section class="three text_center left">
                   <i class="far fa-calendar-check"></i>
                </section>
                <section class="three text_center left">
            <i class="fas fa-dollar-sign"></i>
                    
                </section>
                <section class="three text_center left">
            <i class="far fa-credit-card"></i> 
                    
                </section>
            </article>
        </section>
    </article>


</section>
{% endblock %}