{% extends 'base.html' %}


{% block content %}
<section class="page gray services_container">

    <article class="services_content clearfix">
        <section class="two_even left content">
            <h2 class="sub_heading">This is a sub heading</h2>
            <h3 class="heading">Introduction to the business</h3>
        </section>
        <section class="two_even right">
            <article class="one left">
                <h3 class="heading">Introduction to the business</h3>
                one
            </article>
            <article class="one left">
                <h3 class="heading">Introduction to the business</h3>
                two
            </article>
            <article class="one left">
                <h3 class="heading">Introduction to the business</h3>
                three
            </article>
            <article class="one left">
                <h3 class="heading">Introduction to the business</h3>
                four
            </article>
        </section>
    </article>


</section>
{% endblock %}