{% extends 'base.html' %}


{% block content %}
<section class="page white">

    <article class="sent_content clearfix">
        <section class="text_center">
            <h1>Thank you, {{ sender}}</h1>
        </section>
        <section class="sent_icon text_center">
            <i class="flaticon-mail"></i>
        </section>
        <section class="text_center">
            <h2 class="sub_heading">Your message has been successfully sent</h2>
            <h3 class="heading text_teal">We wil contact you soon</h3>
        </section>
    </article>


</section>
{% endblock %}